<style>
  .email-content {
    max-width: 800px;
  }

  .redirect-link {
    width: 150px;
    padding: 8px 16px;
    margin: 0 auto;

    background: #B42B9D;
    color: #fff;
    text-decoration: none;
    transition: all 0.2s;

    cursor: pointer;
  }

  .redirect-link:hover {
    background: #d930bc;
  }
</style>

<div class="email-content">
  <p>Olá, {{ name }}!</p>

  <p>Recentemente foi solicitada uma redefinição de senha para a sua conta. Caso não tenha sido você, pedimos que
    desconsidere este e-mail, mas aconselhamos que faça a alteração de sua senha por motivos de segurança.</p>

  <p>Caso você tenha solicitado, basta clicar no botão abaixo para prosseguir com a redefinição de sua senha!</p>

  <a href={{ link }} class="redirect-link">Redefinir senha!</a>

  <p>Atenciosamente, Equipe MoneyShield.</p>
</div>
